# Enforce LF line endings for all text files
* text=auto eol=lf

# Explicitly define specific file types
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.md text eol=lf
*.html text eol=lf
*.yml text eol=lf